[Unit]
Description=Aerocore Accelerator Setup
After=network-online.target systemd-logind.service
Wants=network-online.target
ConditionPathExists=!/etc/systemd/system/multi-user.target.wants/plugin_loader.service
Requires=systemd-logind.service

[Service]
Type=oneshot
Environment=INSTALL_WAIT_SECS=180
EnvironmentFile=-/etc/environment.d/99-bazzite-mirrors.conf
ExecStart=/usr/libexec/aerocore-accelerator-installer.sh
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
